.home {
    height: 100%;

    &-product-list {
        width: 100%;
        padding: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        gap: 1em;
        justify-content: center; 
    }

    &-product-list-card {
        height: 30em;
        width: 100%; 
        max-width: 20em;
    }
}
