.home {
    height: 100%;

    &-title {
        margin: 1.5em 0 0 0;
        width: 100%;
        display: flex;
        justify-content: center; 
        font-size: 2.5em;
    }

    &-product-list {
        width: 100%;
        padding: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        gap: 1em;
        justify-content: center; 
    }

    &-product-list-card {
        height: 30em;
        width: 100%; 
        max-width: 20em;
    }
}
