.headband{
    color: white;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 75%;
    padding: 1em;
    
}