<div class="header">
    <app-headband class="header-headband"/>
    <div class="header-main">
        <div class="header-main-left">
            @for (link of links(); track $index) {
                <a class="header-link" [href]="link.url">{{ link.name }}</a>
            }
        </div>
        <div class="header-main-middle">
            <a href="" class="header-main-middle-link">
                <img class="header-main-middle-logo" src="assets/logo.svg" alt="Logo"/>
            </a>
        </div>
        <div class="header-main-right">
            <span>Partie droite</span>
        </div>
    </div>
</div>
